body {
    background-color: #f0f0f0; /* Cor de fundo */
    text-align: center;        /* Centralização */
    font-family: Arial;
  }
  
  input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
  }
  
  .post {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
  }
  