<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Resposta Login</title>
    <link href="/estilo.css" rel="stylesheet">
</head>

<body class="cor">
    <div class="centro">
        <h1>Resposta: <%= resposta %>
        </h1>
        <p>Nome: <%= nome %>
        </p>
    </div>
</body>

</html>