<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Resposta</title>
<link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1><%= resposta %></h1>



<a href="login.html" class="btn">Voltar</a>

<style>
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: lightgrey;
  }
</style>




</body>
</html>
